# This is a basic workflow to help you get started with Actions
name: Build and Deploy to Prod
on:
  push:
    branches:
      - main
#  pull_request:
#    branches:
#      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      CI: false

    strategy:
      matrix:
        node-version: [20.11]
        
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js 20.11
      uses: actions/setup-node@v3
      with:
        node-version: 20.11

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

    - name: Install dependencies
      run: npm install

    - name: Run the tests
      run: npm test -- --coverage
      
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
      
    - name: Dump GitHub env object
      env:
        ENV_CONTEXT: ${{ toJson(env) }}
      run: echo "$ENV_CONTEXT"

    - name: Build
      run: npm run build
      
    - name: Deploy
      run: |
        git config --global user.name "LucasBurgessDev"
        git config --global user.email 62183529+LucasBurgessDev@users.noreply.github.com
        git remote set-url origin https://${github_token}@github.com/${repository}
        npm run deploy
      env:
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
        repository: ${{ github.repository }}
